<!-- begin :: header -->
<html>
<head>
<link href="style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../lib/js/jquery.tooltip.css" />
<title>ArOS Admin - {$site_name}</title>
{literal}
<script src="../lib/js/lib/jquery.js" type="text/javascript"></script>
<script src="../lib/js/jquery.tooltip.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
var dumy='';
$(".view_detail").tooltip({
  delay: 200,
  position: 'mouse',
    bodyHandler: function() {
    
    var send = $(this).attr('ajaxurl');
    $.ajax({
    url:send,
    type:'post',
    success:function(msg){
       dumy = msg; 
       
    },
	  async:   false
    });
    
		return dumy;
	},
  top: -15,
	left: 5,
  showCFG_SITE_URL: false
});
});
</script>
{/literal}
</head>
<body>
<table align="center" class="table_body">
  <tr>
    <td class="header">
    <table align="right">
        <tr>
          <td>
            <div style="color:#003366;padding-right:10px;font-size:20px;font-family:'arial black';">{$site_name}</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>  
  <tr>
    <td>
      <table align="left" style="margin-left:10px;">
        <tr>
          <td style="font-family:trebuchet ms;font-size:11px;height:25px;color:#000000;">
            Welcome to the Admin section
          </td>
        </tr>
      </table>
      <table align="right" style="margin-right:10px;">
        <tr>
          <td style="font-family:trebuchet ms;font-size:11px;height:25px;color:#000000;">
            Logged in as <b>{$sessions_username}</b> | <a href='../index.php'>home</a>| <a href='index.php'>admin home</a>| <a href='../logout.php'>logout</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td><table style="width:100%;"><tr><td style="background-color:#e7e7e7;"></td></tr></table></td>
  </tr>
