<table align="left" style="border-collapse:collapse;"  align="left">
  <tr>
    <td class="sidebar_top">
      Admin Control Panel
    </td>
  </tr>
  <tr>
    <td class="sidebar_middle">
      <table style="width:100%;">
        <tr><td class="middle_sidebar_table" style="height:10px;"></td></tr>
        <tr><td class="top_sidebar_table">Manage Users</td></tr>
        <tr><td class="middle_sidebar_table"><a href="user.php?pf=browse">&raquo; Browse Users</a></td></tr>
        <tr><td class="middle_sidebar_table"><a href="user.php?pf=add">&raquo; Add User</a></td></tr>
        <tr><td class="middle_sidebar_table" style="height:10px;"></td></tr>
        
        <tr><td class="top_sidebar_table">Manage Products</td></tr>
        <tr><td class="middle_sidebar_table"><a href="product.php?pf=browse">&raquo; Browse Products</a></td></tr>
        <tr><td class="middle_sidebar_table"><a href="product.php?pf=add">&raquo; Add Product</a></td></tr>
        <tr><td class="middle_sidebar_table" style="height:10px;"></td></tr>
        
        <tr><td class="top_sidebar_table">Manage Order</td></tr>
        <tr><td class="middle_sidebar_table"><a href="order.php">&raquo; Browse Orders</a></td></tr>
        <tr><td class="middle_sidebar_table" style="height:10px;"></td></tr>
        
        <tr><td class="top_sidebar_table">Manage Discount Coupon</td></tr>
        <tr><td class="middle_sidebar_table"><a href="coupon.php?pf=browse">&raquo; Browse Coupons</a></td></tr>
        <tr><td class="middle_sidebar_table"><a href="coupon.php?pf=add">&raquo; Add Coupon</a></td></tr>
        <tr><td class="middle_sidebar_table" style="height:10px;"></td></tr>
        
        <tr><td class="top_sidebar_table">Payment</td></tr>
        <tr><td class="middle_sidebar_table"><a href="payment.php?pf=gateway">&raquo; Payment Gateway</a></td></tr>
        <tr><td class="middle_sidebar_table"><a href="payment.php?pf=currency">&raquo; Payment Currency</a></td></tr>
        <tr><td class="middle_sidebar_table" style="height:10px;"></td></tr>
        
        <tr><td class="top_sidebar_table">Invoice</td></tr>
        <!--<tr><td class="middle_sidebar_table"><a href="invoice.php?pf=payment_history">&raquo; Browse Payment History</a></td></tr>-->
        <tr><td class="middle_sidebar_table"><a href="invoice.php?pf=config">&raquo; Setting invoice</a></td></tr>      
        <tr><td class="middle_sidebar_table" style="height:10px;"></td></tr>
        
        <tr><td class="top_sidebar_table">Email</td></tr>
        <tr><td class="middle_sidebar_table"><a href="email.php?pf=browse">&raquo; Email Templates</a></td></tr>
        <tr><td class="middle_sidebar_table"><a href="mailing.php?pf=export">&raquo; Export Mailing List</a></td></tr>      
        <tr><td class="middle_sidebar_table" style="height:10px;"></td></tr>
        
        <tr><td class="top_sidebar_table">Banned IP's</td></tr>
        <tr><td class="middle_sidebar_table"><a href="banned.php?pf=ip">&raquo; Banned Ip Address</a></td></tr>
        <tr><td class="middle_sidebar_table"><a href="banned.php?pf=country">&raquo; Banned Country</a></td></tr>
        <tr><td class="middle_sidebar_table" style="height:10px;"></td></tr>
        
        <tr><td class="top_sidebar_table">Settings</td></tr>
        <tr><td class="middle_sidebar_table"><a href="config.php">&raquo; Configuration</a></td></tr>
        <tr><td class="middle_sidebar_table"><a href="extensions.php">&raquo; Extensions</a></td></tr>
        
      </table>
    </td>
  </tr>
  <tr>
    <td class="sidebar_bottom"></td>
  </tr>
</table>
