{include file="header.html"}
  <tr>
    <td class="middle">
      <div class="middle_content">
          <table style="margin-left:20px;width:700px;" align="left">
            <tr>
              <td><font style="font-size:20px;font-weight:bold;color:#003366;">Confirmation !</font>
                  <br>
                  <hr>
                  <p style="font-size:14px;">
                    <b>We are currently process order manually. Please contact our support staff to order.<br />
                  </p>        
                  
              </td>
            </tr>
          </table>
      </div>
    </td>
  </tr>

  {include file="footer.html"}