{include file="header.html"}
  <tr>
    <td class="middle">
        <div class="middle_content">
          <center>
          <table style="border-collapse:collapse;">
            <tr>
              <td colspan="2" class="td_caption">
                Sign Up for Access to the {$site_name}
              </td>
            </tr>
            <form action="register.php" method="post" name="register_form">
            <input type="hidden" name="pf" value="reg">
            {if $error}    
            <tr>
              <td colspan="2" class="error">
                  <ul style="margin-left:8px;padding-left:8px;">
                    {assign var="i_tmp" value="1"}
                    {section name=i loop=$error}
                    <li>
                    {$error[i]}
                    </li>
                    {assign var="i_tmp" value=$i_tmp+1}
                    {/section}
                  </ul>
              </td>
            </tr>
            {/if}
            <tr>
              <td class="td1">Membership type {$product_id}</td>
              <td class="td2">
                {assign var="i_tmp" value="1"}
                {section name=i loop=$product_data}
                <input type="radio" name="product_id" id="product_id" value="{$product_data[i].product_id}" {if $product_id == $product_data[i].product_id}checked {/if} style="margin-left:0px;">
                <b>{$product_data[i].name}</b> <font color="green">( {$currency_code}. {$product_data[i].price} per {$product_data[i].duration} {$product_data[i].unit} )</font><br>
                {$product_data[i].description}<br><br>
                {assign var="i_tmp" value=$i_tmp+1}
                {/section}  
              </td>
            </tr>
            <tr>
              <td class="td1">Apply Date</td>
              <td class="td2">
              		Select the month to apply this order to. <br />
              		<select name="date_order">
              			<option value=1{if $date_order == 1} SELECTED{/if}>January</option>
						<option value=2{if $date_order == 2} SELECTED{/if}>February</option>
						<option value=3{if $date_order == 3} SELECTED{/if}>March</option>
						<option value=4{if $date_order == 4} SELECTED{/if}>April</option>
						<option value=5{if $date_order == 5} SELECTED{/if}>May</option>
						<option value=6{if $date_order == 6} SELECTED{/if}>June</option>
						<option value=7{if $date_order == 7} SELECTED{/if}>July</option>
						<option value=8{if $date_order == 8} SELECTED{/if}>August</option>
						<option value=9{if $date_order == 9} SELECTED{/if}>September</option>
						<option value=10{if $date_order == 10} SELECTED{/if}>October</option>
						<option value=11{if $date_order == 11} SELECTED{/if}>November</option>
						<option value=12{if $date_order == 12} SELECTED{/if}>December</option>
              		</select>
              </td>
             </tr>  
            <tr>
              <td class="td1">Username </td>
              <td class="td2"><input type="text" name="username" class="textbox" value="{$username}" style="width:200px;"></td>
            </tr>
            <tr>
              <td class="td1">Choose a Password </td>
              <td class="td2"><input type="password" name="password" class="textbox" value="{$password}" class="textbox" style="width:100px;"></td>
            </tr>
            <tr>
              <td class="td1">
                Confirm your Password <br>
                <font style="font-size:9px;color:#ff0000;">Enter password again&nbsp;</font>
              </td>
              <td class="td2"><input type="password" name="repassword" class="textbox" value="{$repassword}" style="width:100px;"></td>
            </tr>
            <tr>
              <td class="td1">
                Your name <br>
                <font style="font-size:9px;color:#ff0000;">Your First & Last name&nbsp;</font>
              </td>
              <td class="td2">
                <input type="text" name="firstname" class="textbox" value="{$firstname}" style="width:200px;">
                <input type="text" name="lastname" class="textbox" value="{$lastname}" style="width:200px;">
              </td>
            </tr>
            <tr>
              <td class="td1">
                Your E-Mail Address 
              </td>
              <td class="td2"><input type="text" name="email" class="textbox" value="{$email}" style="width:200px;"></td>
            </tr>
          <tr>
            <td class="td1">
              Address
            </td>
            <td class="td2">
              <input type="text" name="address" value="{$address}" style="width:200px;" class="textbox">
            </td>
          </tr>
          <tr>
            <td class="td1">
              City, State ZIP
            </td>
            <td class="td2">
              <input type="text" name="city" value="{$city}" style="width:200px;" class="textbox">
              <input type="text" name="state" value="{$state}" style="width:30px;" class="textbox">
              <input type="text" name="zip" value="{$zip}" style="width:50px;" class="textbox">
            </td>
          </tr>
          <tr>
            <td class="td1">
              Phone
            </td>
            <td class="td2">
              <input type="text" name="phone" value="{$phone}" style="width:200px;" class="textbox">
            </td>
          </tr>
            <tr>
              <td class="td1">
                Payment Gateway 
              </td>
              <td class="td2">
              	If you would like to pay by cash or check please signup for a Community Membership and when the treasurer processes your dues it will be reflected here.
                <table >
                  <tr>
                    {if $paypal_payments_status}
                    <td><input type="radio" name="payment_gateway" value="paypal_payments" {if $payment_gateway == paypal_payments}checked{/if}></td>
                    <td><img align="left" src="images/paypal_payments.gif">&nbsp;Please make sure you pay from your balance instead of a bank or credit card draft to<br>
                    	&nbsp;save us from paying fees.</td>
                    {/if}
                    {if $co_status}
                    <td><input type="radio" name="payment_gateway" value="co" {if $payment_gateway == co}checked{/if}></td>
                    <td><img src="images/2co.gif"></td>
                    {/if}
                    {if $alertpay_status}
                    <td><input type="radio" name="payment_gateway" value="alertpay" {if $payment_gateway == alertpay}checked{/if}></td>
                    <td><img src="images/alertpay.gif"></td>
                    {/if}
                    {if $moneybookers_status}
                    <td><input type="radio" name="payment_gateway" value="moneybookers" {if $payment_gateway == moneybookers}checked{/if}></td>
                    <td><img src="images/moneybookers.gif"></td>
                    {/if}
                  </tr>
                  <tr>
                    {if $paypal_subscribe_status}
                    <td><input type="radio" name="payment_gateway" value="paypal_subscribe" {if $payment_gateway == paypal_subscribe}checked{/if}></td>
                    <td><img src="images/paypal_subscribe.gif"></td>
                    {/if}
                    {if $co_subscribe_status}
                    <td><input type="radio" name="payment_gateway" value="co_subscribe" {if $payment_gateway == co_subscribe}checked{/if}></td>
                    <td><img src="images/2co_subscribe.gif"></td>
                    {/if}
                    {if $alertpay_subscribe_status}
                    <td><input type="radio" name="payment_gateway" value="alertpay_subscribe" {if $payment_gateway == alertpay_subscribe}checked{/if}></td>
                    <td><img src="images/alertpay_subscribe.gif"></td>
                    {/if}
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="td1">
                Coupon Code 
              </td>
              <td class="td2">
                <div id="coupon_confirmation" style="font-weight:bold;"></div>
                <input type="text" name="coupon_code" id="coupon_code" class="textbox" value="{$coupon_code}" style="width:100px;">
                <input type="button" name="add_coupon" value="Add Coupon" onclick="check_coupon();"> 
              </td>
            </tr>
            <tr>
              <td class="td1"></td>
              <td class="td2">
                <input type="submit" value="Register Now">&nbsp;
                <input type="button" value="Cancel" onclick="javascript:window.location.href='login.php'">
              </td>
            </tr>
            </form>
          </table>
          </center>
        </div>
    </td>
  </tr>
{include file="footer.html"}
{literal}
<script language="javascript">

function GetProductCheckedValue(radioObj) {
	if(!radioObj)
		return "";
	var radioLength = radioObj.length;
	if(radioLength == undefined)
		if(radioObj.checked)
			return radioObj.value;
		else
			return "";
	for(var i = 0; i < radioLength; i++) {
		if(radioObj[i].checked) {
			return radioObj[i].value;
		}
	}
	return "";
}

function check_coupon()
{
  var coupon_code     = document.getElementById("coupon_code").value;
  var product_id      = GetProductCheckedValue(document.forms['register_form'].elements['product_id']);
  var url             = "coupon.php?pf=check&product_id="+product_id+"&coupon_code="+coupon_code+"";
  var XMLHttpRequest  = createXMLHttpRequest();
  
  if(!product_id)
  {
    alert("Please select your membership type");    
  }
  else if(!coupon_code)
  {
    alert("Please set your coupon code");    
  }
  else
  {
    XMLHttpRequest.onreadystatechange = function() 
  	{
        document.getElementById("coupon_confirmation").innerHTML = "Please wait...";
        if (XMLHttpRequest.readyState==4) 
      	{
      	  document.getElementById("coupon_confirmation").innerHTML = XMLHttpRequest.responseText;
      	}
    }
  	XMLHttpRequest.open('GET',url,true);
  	XMLHttpRequest.send(null);
	}
}


function createXMLHttpRequest()
{
  var xmlhttpReq;
  if(window.XMLHttpRequest)
  {
    xmlhttpReq=new XMLHttpRequest();
	  if(xmlhttpReq.overrideMimeType)
    {
      xmlhttpReq.overrideMimeType('text/xml');
		}
	}
  else if(window.ActiveXObject)
  {
    try
    {
      xmlhttpReq=new ActiveXObject("Msxml2.XMLHTTP");
		}
    catch(e)
    {
      try
      {
        xmlhttpReq=new ActiveXObject("Microsoft.XMLHTTP");
		  }
      catch(e){}
  	}
  }
  if(!xmlhttpReq)
  {
    alert('Giving up :( Cannot create an XMLHTTP instance');
		return false;
  }
	return xmlhttpReq;
}
</script>
{/literal}
