{include file="header.html"}
  {if $pf == 'browse' || !$pf} 
  <tr>
    <td class="middle">
      <div class="middle_content">
        <center>
          <table style="border-collapse:collapse;">
            <tr>
              <td colspan="2"  class="td_caption">
                  Request Password.
              </td>
            </tr>
            <form action="request_password.php" method="post">
            <input type="hidden" name="process" value="1">
            <input type="hidden" name="pf" value="browse">
            {if $error}    
            <tr>
              <td colspan="2" class="error" style="text-align:left;">
                  <ul style="margin-left:8px;padding-left:8px;">
                    {assign var="i_tmp" value="1"}
                    {section name=i loop=$error}
                    <li>
                    {$error[i]}
                    </li>
                    {assign var="i_tmp" value=$i_tmp+1}
                    {/section}
                  </ul>
              </td>
            </tr>
            {/if}
            <tr>
              <td class="td1_forgot">Enter your E-Mail Address </td>
              <td class="td2_forgot"><input type="text" name="email" class="textbox" value="{$email}" style="width:190px;"></td>
            </tr>
            <tr>
              <td class="td1_forgot"></td>
              <td class="td2_forgot">
                <input type="submit" value="Get Password"> <input type="button" value="Cancel" onclick="javascript:window.location.href='login.php'"><br>
              </td>
            </tr>
            </form>
          </table>
        </center>       
      </div>
    </td>
  </tr>
  <tr>
{elseif $pf == 'success'}
    <tr>
    <td class="middle">
        <div class="middle_content">
          <center>
            <table style="border-collapse:collapse;" width="100%">
              <tr>
                <td align="center" style="font-size:14px">
                    A new password has been generated and sent to your email.<br>
                    Click <a href="login.php"><font color="blue">here</font></a> if you want to login.
                </td>
              </tr>
            </table>
        </center>          
      </div>
    </td>
  </tr>
{/if}
  
{include file="footer.html"}
