<table align="left" style="border-collapse:collapse;background-color:#e4edf6;"  align="left">
  <tr>
    <td class="sidebar_top">
      User Control Panel
    </td>
  </tr>
  <tr>
    <td class="sidebar_middle">
      <table style="width:100%;">
        <tr><td class="top_sidebar_table">Profile</td></tr>
        <tr><td class="middle_sidebar_table"><a href="user.php">&raquo; Edit Profile</a></td></tr>
        <tr><td class="middle_sidebar_table" style="height:10px;"></td></tr>
        
        <tr><td class="top_sidebar_table">Order</td></tr>
        <tr><td class="middle_sidebar_table"><a href="order.php?pf=order_history">&raquo; Order History</a></td></tr>
        <tr><td class="middle_sidebar_table"><a href="order.php?pf=add_order">&raquo; Add Order</a></td></tr>
        
      </table>
    </td>
  </tr>
  <tr>
    <td class="sidebar_bottom"></td>
  </tr>
</table>